.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/button-close.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: opacity .5s;
}

.popup__close:hover {
  opacity: .6;
  transition: opacity .5s;
}

@media screen and (max-width: 620px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .popup__close {
    top: 0;
    right: -40px;
  }
}
