.card__like-btn {
  height: 19px;
  width: 22px;
  background-size: 22px 19px;
  background-position: center;
  background: url(../../../images/button-like-sprite.svg) 0 0;
  transition: opacity .5s;
  grid-area: button;
}

.card__like-btn:hover {
  opacity: .5;
}
