.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 5%);
  line-height: 2;
  text-align: center;
}

.card__image::after {
  content: attr(alt) " не загрузилось 😓";
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
