.popup__button_inactive {
	border: 1px solid hsla(0, 0%, 77%, 1);
	background-color: #fff;
	color: hsla(0, 0%, 77%, 1);
	cursor: default;
}

.popup__button_inactive:hover {
	opacity: inherit;
}
