@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/button/button.css);
@import url(./blocks/link/link.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_bg-opacity_darker/popup_bg-opacity_darker.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__text-input/popup__text-input.css);
@import url(./blocks/popup/__text-input/_invalid/popup__text-input_invalid.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_inactive/popup__button_inactive.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__zoom-container/popup__zoom-container.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image-zoomed/popup__image-zoomed.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/content.css);

@import url(./blocks/add-btn/add-btn.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__name/profile__name.css);


@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__card/gallery__card.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__like-btn/card__like-btn.css);
@import url(./blocks/card/__like-btn/_active/card__like-btn_active.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/card/__place/card__place.css);
@import url(./blocks/card/__delete-btn/card__delete-btn.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copy/footer__copy.css);

@import url(./blocks/welcome-form/welcome-form.css);
@import url(./blocks/welcome-form/__button/welcome-form__button.css);
@import url(./blocks/welcome-form/__form/welcome-form__form.css);
@import url(./blocks/welcome-form/__text-input/welcome-form__text-input.css);
@import url(./blocks/welcome-form/__title/welcome-form__title.css);
@import url(./blocks/welcome-form/__text/welcome-form__text.css);
